aiohttp
aria2p
async_generator
asyncurban
dnspython
emoji
gitpython
google-api-python-client
google-auth-oauthlib
google_images_download>=2.7.1
hachoir
heroku3
httplib2
lxml
oauth2client
Pillow>=5.3.0
psycopg2
psycopg2-binary
pybase64>=0.4.0
pylast
pySmartDL
python-barcode
python-dotenv
pytz
requests>=2.18.4
search-engine-parser>=0.4.2
sqlalchemy>=1.2
telethon>=1.10.9
telethon-session-sqlalchemy>=0.2.6
tgcrypto


